DATABASE_URL=postgresql+asyncpg://stringlab_user:stringlabpass6789.@stringlab-db:5432/stringlab_db
ENV=development
DB_HOST=stringlab-db
DB_PORT=5432
POSTGRES_USER=stringlab_user
POSTGRES_PASSWORD=stringlabpass6789.

# --------------------------
# Production configuration
# ---------------------------
WORKERS=1